.header, 
.footer {
  background: #E1E1E1;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header a {
  color: inherit;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
}

header, top-header {
  background: var(--gray);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1.5rem;
}

.header a:focus,
.header a:hover {
  background: var(--white);
  color: var(--black);
}

.content {
  margin: 3rem auto;
  max-width: 54ch;
  /* fix this to work for other screens */
  min-height: 79.5vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  position: sticky;
  font-size: 0.8rem;
  padding: 1rem 3rem;
}